<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Desc.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Description.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Desc.Properties.Settings>
            <setting name="ModuleDir" serializeAs="String">
                <value>.\Module\</value>
            </setting>
            <setting name="LastModule" serializeAs="String">
                <value />
            </setting>
            <setting name="Groups" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>All</string>
                        <string>Client</string>
                        <string>Editor</string>
                        <string>Server</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DataDir" serializeAs="String">
                <value>..\Excel\</value>
            </setting>
        </Desc.Properties.Settings>
        <Description.Properties.Settings>
            <setting name="ModuleDir" serializeAs="String">
                <value>.\Module\</value>
            </setting>
            <setting name="NamespaceDir" serializeAs="String">
                <value>.\Namespace\</value>
            </setting>
            <setting name="LastModule" serializeAs="String">
                <value />
            </setting>
            <setting name="Groups" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>All</string>
                        <string>Client</string>
                        <string>Editor</string>
                        <string>Server</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DataDir" serializeAs="String">
                <value>.</value>
            </setting>
        </Description.Properties.Settings>
    </userSettings>
</configuration>